body {
    background-color: rgb(36, 35, 35);
    padding-top: 0px; /* Добавьте это */
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, small, footer a {
    color: white;
}

.pagination {
    color: white;
}

.pagination a {
    color: white;
}

.site-header {
    top: 0;
    left: 0;
    width: 100%;
	height: 70px;
    position: fixed;
}

.content-block {
    margin-top:110px;
}

.title-block {
    text-align: center;
    background-color: black;
}

.title {
    font-size: large;
    display: inline-block;
    color: white;
    text-align: center;
}

.menu {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: white;
    margin-right: 10px;
}

.search-container {
    margin-top:2px;
    display: flex;
    color: white;
    position: relative;
}

#search-results {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-color: white; /* Изменено на белый */
    color: black; /* Изменено на черный */
    width: auto; /* Динамическая ширина */
    left: 0; /* Изменено на 0, чтобы выпадающий список был выровнен по левому краю */
}

.search-container.active #search-results {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 5px);
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px solid #ccc; /* Серая полоса между играми */
}

.search-result {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Серая полоса между играми */
    text-decoration: none; /* Убираем подчеркивание */
}

.search-result span {
    text-decoration: none; /* Убираем подчеркивание */
    color: black;
}

.search-result img {
    border-radius: 5px;
    width: 30px; /* Размер иконки игры */
    height: auto;
    margin-right: 10px;
}

.search-result a {
    text-decoration: none; /* Убираем подчеркивание */
}

.article-metadata a {
    color: white;
}

.form-group {
    color: white;
}

.alert {
    color: white;
}

.media-body p {
    color: white;
}

footer {
    position: sticky!important;
    top: 100%;
    padding-top:25px;
    padding-bottom:25px;
    border-top:1px solid #ddd;
}

.border-top a{
    color: white;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.game-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-tile {
    width: calc(15% - 10px);
    margin-bottom: 20px;
}

.game-detail {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    color: white;
}

.game-cover img, .backlog-game img {
    max-height: 250px;
    max-width: 200px;
    width: auto;
    height: auto;  
    margin-right: 20px;
    border-radius: 7.5%;
    border: 1px solid black;
}

.game-details {
    flex: 1;
    text-decoration: none; /* Убираем подчеркивание */
}

.game-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.game-title,
.release-date{
    text-decoration: none;
}

.game-summary {
    margin-top: 10px;
    text-align: justify;
    color: white;
}

.release-date {
    font-style: italic;
    margin-top: 5px;
    color: white;
}

.back-link, .backlog-game p {
    display: block;
    margin-top: 20px;
    color: white;
}

@media (max-width: 768px) {
    .game-tile {
        width: calc(50% - 10px);
    }
    .game-cover img {
        max-width: 170px; /* Уменьшаем высоту обложки */
        height: auto;
        border-radius: 7.5%;
        border: 1px solid black;
    }
}