{% extends 'b4cklog/base.html' %}
{% load static %}
{% block content %}
    <div class="game-detail">
        <div class="game-cover">
            {% if game.cover %}
                <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
            {% else %}
                <img src="{% static 'default_cover.jpg' %}" alt="{{ game.name }} Cover">
            {% endif %}
        </div>
        <div class="game-details">
            <h1 class="game-title">{{ game.name }}</h1>
            <p class="game-summary">{{ game.summary }}</p>
            <p class="release-date">Release Date: <span class="italic">{{ game.first_release_date }}</span></p>
            {% if game.platforms.all %}
                <p class="platforms">Platforms:
                    {% for platform in game.platforms.all %}
                        {{ platform.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            <p class = "marks_title">Оценка:
                <select id = "marks_select" name = "marks">
                    <option value = "mark_1">1</option>
                    <option value = "mark_2">2</option>
                    <option value = "mark_3">3</option>
                    <option value = "mark_4">4</option>
                    <option value = "mark_5">5</option>
                    <option value = "mark_6">6</option>
                    <option value = "mark_7">7</option>
                    <option value = "mark_8">8</option>
                    <option value = "mark_9">9</option>
                    <option value = "mark_10">10</option>
                </select>
                <button>Добавить оценку</button>
            </p>
            {% endif %}
            <form method="post" class="game-backlog-form">
                {% csrf_token %}
                <p class = "play_title">Игровой процесс: 
                    <select name="backlog_section">
                        <option value="backlog_want_to_play">Want to play</option>
                        <option value="backlog_playing">Playing</option>
                        <option value="backlog_played">Played</option>
                        <option value="backlog_completed">Completed</option>
                        <option value="backlog_completed_100">Completed (100% achievements)</option>
                    </select>
                    <button type="submit">Добавить в бэклог</button>
                </p>
            </form>
            <a href="{% url 'b4cklog-home' %}" class="back-link">Back to Game List</a>
        </div>
    </div>
{% endblock content %}
