{% extends 'b4cklog/base.html' %}
{% load static %}
{% block content %}
    <div class="game-tiles">
        {% for game in games %}
            <article class="game-tile">
                <div class="media-body">
                    <div class="article-metadata">
                        <div class="game-cover">
                            {% if game.cover %}
                                <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
                            {% else %}
                                <img src="{% static 'default_cover.jpg' %}" alt="{{ game.name }} Cover">
                            {% endif %}
                        </div>
                        <br>
                        <a class="mr-2" href="{% url 'game_detail' igdb_id=game.igdb_id %}">{{ game.name }}</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if games.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ games.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">{{ games.number }} / {{ games.paginator.num_pages }}</span>

            {% if games.has_next %}
                <a href="?page={{ games.next_page_number }}">next</a>
                <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>  
{% endblock content %}
