{% extends "b4cklog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <div class="backlog-row">
    <div class="backlog-game horizontal">
      <h3>Want to play</h3>
      <div class="backlog-game-tile horizontal"> 
        {% for game in user.profile.backlog_want_to_play.all|slice:":10" %}
          <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
        {% endfor %}
      </div>
      <a href="{% url 'backlog_category' 'backlog_want_to_play' %}" class="backlog-category-link">See all</a>
    </div>
  </div>
  <div class="backlog-row">
    <div class="backlog-game horizontal">
      <h3>Playing</h3>
      <div class="backlog-game-tile horizontal"> 
        {% for game in user.profile.backlog_playing.all|slice:":10" %}
          <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
        {% endfor %}
      </div>
      <a href="{% url 'backlog_category' 'backlog_playing' %}" class="backlog-category-link">See all</a>
    </div>
  </div>
  <div class="backlog-row">
    <div class="backlog-game horizontal">
      <h3>Played</h3>
      <div class="backlog-game-tile horizontal"> 
        {% for game in user.profile.backlog_played.all|slice:":10" %}
          <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
        {% endfor %}
      </div>
      <a href="{% url 'backlog_category' 'backlog_played' %}" class="backlog-category-link">See all</a>
    </div>
  </div>

  <div class="backlog-row">
    <div class="backlog-game horizontal">
      <h3>Completed</h3>
      <div class="backlog-game-tile horizontal"> 
        {% for game in user.profile.backlog_completed.all|slice:":10" %}
          <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
        {% endfor %}
      </div>
      <a href="{% url 'backlog_category' 'backlog_completed' %}" class="backlog-category-link">See all</a>
    </div>
  </div>

  <div class="backlog-row">
    <div class="backlog-game horizontal">
      <h3>Completed (100% achievements)</h3>
      <div class="backlog-game-tile horizontal"> 
        {% for game in user.profile.backlog_completed_100.all|slice:":10" %}
          <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
        {% endfor %}
      </div>
      <a href="{% url 'backlog_category' 'backlog_completed_100' %}" class="backlog-category-link">See all</a>
    </div>
  </div>
  
  <div class="backlog-row">
    <div class="backlog-game horizontal">
      <h3>Оценки</h3>
      <div class="backlog-game-tile horizontal">
        {% for game in user.profile.mark1.all|slice:":10" %}
        <img src="{{ game.cover }}" alt="{{ game.name }} Cover">
        {% endfor %}
      </div>
      <a href="{% url 'backlog_category' 'mark1' %}" class="backlog-category-link">See all</a>
    </div>
  </div>
  
  {% if request.user == user %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Your profile</legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
  {% endif %}
</div>
{% endblock content %}
